In [12]:
# написать функцию, которая загружает указанные года и выводит ТОП-3 популярных имен
import pandas as pd
import os.path

In [17]:
path_to_file = '/Users/mykolapashkovsky/Dropbox/Git/netology/PY2PM/PY4_1/names/'

In [18]:
cols = ['Name', 'Gender','Count']
names_1880 = pd.read_csv('/Users/mykolapashkovsky/Dropbox/Git/netology/PY2PM/PY4_1/names/yob1880.txt', names=cols)
names_1900 = pd.read_csv('/Users/mykolapashkovsky/Dropbox/Git/netology/PY2PM/PY4_1/names/yob1900.txt', names=cols)
names_1950 = pd.read_csv('/Users/mykolapashkovsky/Dropbox/Git/netology/PY2PM/PY4_1/names/yob1950.txt', names=cols)
names_2000 = pd.read_csv('/Users/mykolapashkovsky/Dropbox/Git/netology/PY2PM/PY4_1/names/yob2000.txt', names=cols)

In [21]:
names_1880.sort_values(by = 'Count', ascending = False).head(3)

        Name Gender  Count
942     John      M   9655
943  William      M   9531
0       Mary      F   7065

In [ ]:
# Задача №1
# С использованием Pandas написать функцию, которая загружает указанные года и выводит ТОП-3 популярных имен.

In [62]:
def count_top3(years):
    cols = ['Name', 'Gender','Count']
    file = {}
    for year in years:
        file[year] = pd.read_csv(os.path.join(path_to_file,'yob{0}.txt'.format(year)), names=cols)
    data_set = pd.concat(file).groupby('Name').sum().sort_values(by = 'Count', ascending = False).head(3)
    response = data_set.axes[0].tolist()
    return response

In [63]:
count_top3([1880]) == ['John', 'William', 'Mary']

True

In [64]:
count_top3([1900, 1950, 2000]) == ['James', 'John', 'Robert']

True

In [65]:
# Задача №2
# С использованием Pandas написать функцию, которая возвращает динамику изменения количества имен за указанные года в разрезе полов.

In [121]:
def count_dynamics(years):
    cols = ['Name', 'Gender','Count']
    file = {}
    response = {}
    for year in years:
        file[year] = pd.read_csv(os.path.join(path_to_file,'yob{0}.txt'.format(year)), names=cols).groupby('Gender').sum()
    response['F'] = pd.concat(file).query('Gender == "F"').Count.tolist()
    response['M'] = pd.concat(file).query('Gender == "M"').Count.tolist()
    print(response)
    return response

In [122]:
count_dynamics([1900, 1950, 2000]) == {
          'F': [299822, 1713450, 1814738],
          'M': [150490, 1791474, 1962556]
        }

{'F': [299822, 1713450, 1814738], 'M': [150490, 1791474, 1962556]}

True